.task {
  background: var(--base-300);
  margin: 1rem 0rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.6rem 0rem;
}

.x-icon {
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.x-icon:hover {
  transform: scale(1.25);
}
