.task {
  background: var(--base-300);
  padding: 1.6rem;
  border-radius: 0.8rem;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reminder {
  border-left: 5px solid var(--secondary);
}

.x-icon {
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.x-icon:hover {
  transform: scale(1.25);
}
